@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    min-height: 100%;
}

a:visited {
    color: inherit;
}

@font-face {
    font-family: 'bangersregular';
    src: url('../../fonts/bangers-regular-webfont.woff2') format('woff2'),
         url('../../fonts/bangers-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'smackattack_bbregular';
    src: url('../../fonts/smackattackbb_reg-webfont.woff2') format('woff2'),
         url('../../fonts/smackattackbb_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}