

html, body { @apply h-full overflow-hidden; }

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: rgb(var(--color-surface-200));
}

a:visited {
    color: inherit;
}

.app-bar:not(li) {
    color: rgb(var(--color-accent-300));
}

#page-content {
    padding: 2rem;
}

iconify-icon {
    font-size: 1.5rem;
}

